.formdisp-div{
    width: 90%;
    margin:20px;
    background-color: aquamarine;
    border-radius: 20px;
    height: auto;
    padding: 10px;
}
.formdisp-title{
    font-size: x-large;
    font-weight: 600;
}
.formdisp-desc{
    font-size: large;
}
.dets{
    display: inline-block;
    width: 80%;
}
.del{
    float: right;
    margin-right: 5%;
    margin-top: 10px;
}