.home-left-pane,.home-right-pane{
    display: inline-block;
    width: 50%;
}
.home-container{
    display: flex;
    height: 100vh;
    flex-direction: row;
    background: linear-gradient(163deg, rgba(58,81,180,1) 25%, rgba(29,253,194,1) 53%, rgba(252,69,199,1) 81%);
}
.home-right-pane{
    text-align: center;
}
.home-left-pane{
    margin-top: 20%;
    margin-left: 50px;
}