.responses-table{
    border: 1px solid black;
    background-color: white;
}
th{
    background-color: blueviolet;
}
.resp-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
th,td{
    padding: 2px;
    border: 1px solid;
}